@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}

.container {
  max-width: 500px;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid #80808042; */
  box-shadow: 13px 20px 10px #00000052;
  padding: 30px;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background: #fff;
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 65%, rgba(241,241,241,1) 81%); */
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(241, 241, 241, 1) 81%
  ); */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
}

.task {
  background-color: #f1f1f1;
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.task h3 {
  font-size: 15px;
  font-weight: 600;
  color: rgb(24, 24, 24);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task p {
  font-size: 13px;
  font-weight: 500;
  color: rgb(41, 41, 41);
  margin-bottom: 0;
  margin-top: 2px;
}

.delete-icon {
  font-size: 18px;
  color: #000;
  cursor: pointer;
}

.reminder {
  border-left: 3px solid green;
}

.add-form {
  margin: 10px 0px 30px 0px;
  width: 100%;
}

.form-control {
  margin-bottom: 15px;
  max-width: 95%;
}

.form-control label {
  display: block;
  color: rgb(41, 41, 41);
  font-size: 15px;
  margin-bottom: 7px;
  font-weight: 500;
}

.form-control input[type="text"] {
  width: 100%;
  display: block;
  padding: 14px 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 10px #00000026;
}

.form-control-check {
  display: block;
}

.form-control-check input[type="checkbox"] {
  outline: 1px solid #00000078;
  outline-style: auto;
  margin-left: 20px;
}
.form-control-check label {
  display: inline;
}

.btn-block {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 10px 5px;
  box-shadow: 0px 4px 10px #00000026;
  cursor: pointer;
  border-radius: 3px;
}

.close-icon {
  font-size: 20px;
  color: #000;
}
